body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

h1 {
    color: #333;
}

.timeline { 
    display: flex; 
    .rows-titles {
        display: flex; 
        flex-direction: column; 
        margin-right: 4px; 
        .row-title {
            height: 10px; 
            font-size: 9px; 
            margin-bottom: 2px;
        }
    }
    .values {
        display: flex; 
        flex-direction: column; 
        flex-wrap: wrap; 
        &.days {
            height: 84px; // 7 * 12
        }
        &.weeks {
            height: 48px; // 4 * 12
        }
        &.months {
            height: 144px; // 12 * 12
        }
        .date-values {
            display: flex;
            flex-direction: row;
            margin-left: .5em;
            .empty {
                width: 10px; 
                height: 10px; 
                margin: 1px;
                background-color: #CCCCCC;
            }
            .value {
                width: 10px;
                height: 10px;
                margin: 1px;
                border-radius: 2px;
            }
        }
    }
}
